{% extends 'tasks/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" ></link>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Tasklist</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tasks:mypage' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tasks:newtask' %}">New Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tasks:setting' %}">Setting</a>
      </li>
    </ul>
  </div>
</nav>

<h1><p>{{ request.session.username }}さん、おかえりなさい</p></h1>

<div class="accordion w-50" id="tasklists">
<h3>未完了のタスク</h3>
{% if task_undone %}
{% for tasks in task_undone %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="taskhead-{{ tasks.id }}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#taskdesc-{{ tasks.id }}" aria-expanded="true" aria-controls="taskdesc-{{ tasks.id }}">
          {{ tasks.task_name }}
        </button>
      </h2>
      <div id="taskdesc-{{ tasks.id }}" class="accordion-collapse collapse hide" aria-labelledby="taskhead-{{ tasks.id }}" data-bs-parent="#tasklists">
        <div class="accordion-body">
          <b>{{ tasks.task_desc }}</b><br>
          {% if tasks.deadline %}
          締め切り：{{ tasks.deadline }}<br>
          {% else %}
          締め切り：なし<br>
          {% endif %}
          {% if tasks.repeat == True %}
          繰り返し：する<br>
          {% else %}
          繰り返し：しない<br>
          {% endif %}
          <button id="task-{{ tasks.id }}-toggle" type="button" class="task btn btn-primary">完了</button>
          <button id="task-{{ tasks.id }}-delete" type="button" class="task btn btn-danger">削除</button>
        </div>
      </div>
    </div>    
{% endfor %}
{% else %}
<p>未完了のタスクはありません</p>
{% endif %}
<br>
<h3>完了済のタスク</h3>
{% if task_done %}
{% for tasks in task_done %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="taskhead-{{ tasks.id }}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#taskdesc-{{ tasks.id }}" aria-expanded="true" aria-controls="taskdesc-{{ tasks.id }}">
          {{ tasks.task_name }}
        </button>
      </h2>
      <div id="taskdesc-{{ tasks.id }}" class="accordion-collapse collapse hide" aria-labelledby="taskhead-{{ tasks.id }}" data-bs-parent="#tasklists">
        <div class="accordion-body">
          <b>{{ tasks.task_desc }}</b><br>
          {% if tasks.deadline %}
          締め切り：{{ tasks.deadline }}<br>
          {% else %}
          締め切り：なし<br>
          {% endif %}
          {% if tasks.repeat == True %}
          繰り返し：する<br>
          {% else %}
          繰り返し：しない<br>
          {% endif %}
          <button id="task-{{ tasks.id }}-toggle" type="button" class="task btn btn-primary">未完了に戻す</button>
          <button id="task-{{ tasks.id }}-delete" type="button" class="task btn btn-danger">削除</button>
        </div>
      </div>
    </div>    
{% endfor %}
{% else %}
<p>完了済のタスクはありません</p>
{% endif %}
</div>


{% endblock %}

{% block js %}
<script>
    $('.task').on('click',function(e){
      console.log('Clicked.')
      let ids = $(this).attr('id').split('-');
      if ( ids[2] == 'delete' ){
        if (window.confirm('本当に削除してよろしいですか？') == false ){
          return;
        }
      }
      let param = {
        'task_id':ids[1],
        'status':ids[2]
      }
      $.ajax({
        'url':'{% url "tasks:mypage" %}',
        'type':'POST',
        'data':param,
        'dataType':'json'
      })
      .done(function(res){
        console.log(res.msg);
        location.reload();
      })
      .fail(function(res){
        console.log('failed');
        console.log(res);
      })

    })
</script>
{% endblock %}